*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.readme-container{
    background: url(/public/Photos/Untitled-1.png);
    height: 100vh;
    width: 100vw;
    background-size: cover;
}
.readme-layout{
    background: rgba(47, 47, 47, 0.87);
    height: 100vh;
    width: 100vw;
    display: flex;
}
.photo-section{
    position: relative;
    /* background-color: red; */
    /* background: url(/public/Photos/1052gravecopy.png); */
    height: 100vh;
        width: 100vw;    
}
.grave-picture{
    /* background-color: blue; */
    position: absolute;
    height: 100vh;
    width: 100vw;
    /* height: 100%;
    width: 100%; */
    object-fit: contain;
    /* top: 3.5%; */
    /* left: 10%; */
    /* height: 125vh; */
    /* top: -12vh; */
    animation: photo-zoom 1s;
    /* border: 2px solid red; */
}
/* .btn-section{
    width: 25vw;
    position: absolute;
} */
.btn-section-link{
    position: absolute;
    /* background-color: red; */
    bottom: 30%;
    left: 25vw;
    font-size: 2.1vh;
    width: 9vh;
    height: 5.5vh;
    box-shadow: 3px 3px 5px #ffffff69;
    text-decoration: none;
    border-radius: 13px;
}
.btn-section-button{
    background-color: rgba(30, 30, 30, 0.944);
    color: #ffffffb6;
    font-size: 1.8vh;
    width: 100%;
    height: 100%;
    /* padding: 10px; */
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-section-link:hover{
    box-shadow: none;
}
.btn-section-button:hover{
    background-color: #000000fd;
    border: .6px solid #ffffffbe;
    color: #fff;
}
@keyframes photo-zoom{
    0% {
        left: 3%;
        opacity: .2;
    }
    100% {
        left: 0%;
        opacity: 1;
    }
}
@media screen and (max-width: 850px) {
    .grave-picture {
      /* background-color: red; */
      height: 100%;
      width: 100%;
    }
    .btn-section-link{
        left: 16vw;
    }
  }